body { background: skyblue; }
* {
	margin: 0;
	padding: 0;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 340px);
}

.item {
  border-radius: 10px;
  background: #edf;
  padding: 1px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
